## 3.0 GSW Dictionaries.

- A dictionary reperents a group of elements arranged in the form of key value pairs. 
- In dictionary the first elements is considered as 'key' and the immediate next element is taken as its 'value'.  
- The key and its value are seperated by the colon (:). 
- Key-values pairs are inserted in curly bracse {}.

``` python
dict-name = {key1:value1, .... , keyn:valuen}
```

Example:
```python
# roll-no : name pairs
students =
{ 
    1 : 'Darshan'
    2 : 'Twisha'
    3 : 'Orin'
    4 : 'Orius'
    5 : 'Steve'
}
```

- Unordered, mutable, and indexed collections of key-value pairs
- Ideal for structured data, lookups, and fast access by keys.

**Properties of keys:**
- Unique; shouldn't be duplicated
- Immutable data types;  i.e. strings, tuple, number

## 3.1 Creating a dictionary

**Empty dictionary**  
Dictionaries can be created using curly braces `{}` or the `dict()` constructor.

In [1]:
d = {}
#or 
d = dict()

**Dictionary with data**

In [2]:
# Using curly braces
person = {"name": "Twisha", "age": 20}

# Using the dict() constructor
person = dict(name="Twisha", age=20)

**Using dict() constructor**

In [3]:
user = dict(id=101, city="Ahmedabad")
user

{'id': 101, 'city': 'Ahmedabad'}

### Duplicate keys are not allowed

In [4]:
family = {
          "Male" : "Darshan",
          "Female" : "Twisha",
          "Dog" : "Orin" ,
          "Dog" : "Orius",
          "Cat" : "Steve"
          }
# The last entry for "Dog" will overwrite the previous one

print(family)

{'Male': 'Darshan', 'Female': 'Twisha', 'Dog': 'Orius', 'Cat': 'Steve'}

In [5]:
family = {
          "Male" : "Darshan",
          "Female" : "Twisha",
          "Dog1" : "Orin",
          "Dog2" : "Orius",
          "Cat" : "Steve"
          }
# The last entry for "Dog" will overwrite the previous one

print(family)

{'Male': 'Darshan', 'Female': 'Twisha', 'Dog1': 'Orin', 'Dog2': 'Orius', 'Cat': 'Steve'}

## 3.2 Accessing and Updating Values

- Values are accessed through keys

In [6]:
family["Cat"]     # Access by key

'Steve'

- New values can be added through new keys, and existing ones can also be updated using their keys.

In [7]:
family["Cat"] = "Stevie"         # Update value
family["Fish"] = "Nemo"  # Add new key
family

{'Male': 'Darshan',
 'Female': 'Twisha',
 'Dog1': 'Orin',
 'Dog2': 'Orius',
 'Cat': 'Stevie',
 'Fish': 'Nemo'}

- To delete the existing keys, **`del`** statement can be used.

In [8]:
del family["Fish"]  # Delete key-value pair
family

{'Male': 'Darshan',
 'Female': 'Twisha',
 'Dog1': 'Orin',
 'Dog2': 'Orius',
 'Cat': 'Stevie'}

## 3.3 Dictionary Methods

###  Dictionary Methods 

| Method         | Syntax                     | Description                                                                 |
|----------------|-----------------------------|-----------------------------------------------------------------------------|
| `clear()`      | `d.clear()`                 | Removes all key-value pairs from dictionary `d`.                            |
| `copy()`       | `d1 = d.copy()`             | Copies all elements from `d` into a new dictionary `d1`.                    |
| `fromkeys()`   | `d = dict.fromkeys(s, v)`   | Creates a new dictionary with keys from sequence `s` and all values as `v`.|
| `get()`        | `d.get(k, v)`               | Returns value of key `k`; returns `v` if key not found.                     |
| `items()`      | `d.items()`                 | Returns a view object of all key-value pairs as tuples.                     |
| `keys()`       | `d.keys()`                  | Returns a view object of all keys in dictionary `d`.                        |
| `values()`     | `d.values()`                | Returns a view object of all values in dictionary `d`.                      |
| `update()`     | `d.update(x)`               | Adds all key-value pairs from dictionary `x` to `d`.                        |
| `pop()`        | `d.pop(k, v)`               | Removes key `k` and returns its value; returns `v` if key not found.        |
| `setdefault()` | `d.setdefault(k, v)`        | Returns value of `k`; if not found, inserts `k:v` and returns `v`.         |

### 3.3.1 Updating the dictionary

#### Updating a record

- Updates the dictionary with key-value pairs from another dictionary.
- `dict-name.update(new-dict)`
- Appends contents of new dictionary to the dictionary

In [9]:
user.update({'salary': 70000})
user

{'id': 101, 'city': 'Ahmedabad', 'salary': 70000}

#### Deleting a value

In [10]:
value = user.pop('city')  
print(value)  
print(user)

Ahmedabad
{'id': 101, 'salary': 70000}

#### Clearing all values
- `dict-name.clear()`
- Clear the dictionary

In [11]:
print("User:", user)
user.clear()
print("User after clear:", user)

User: {'id': 101, 'salary': 70000}
User after clear: {}

### 3.3.2 Copy
- `new-dict = dict-name.copy()`
- Will copy all contents of dictionary into new dictionary
- Changes in new dictionary won't be reflected

In [12]:
original = {'lang': 'Python'}
d1 = original.copy()
print(d1)

d1['version'] = 3.8
print("Original:", original)
print("Copy:", d1)

{'lang': 'Python'}
Original: {'lang': 'Python'}
Copy: {'lang': 'Python', 'version': 3.8}

### 3.3.3 Dictionary with default values from keys
- `dict-name = dict.fromkeys(keys, value)`
- Generates a dictionary with specified names and assigns the vakue to every key

In [13]:
keys = ('a', 'b', 'c')
default_value = 0
d2 = dict.fromkeys(keys, default_value)
print("Dictionary with default values:", d2)

Dictionary with default values: {'a': 0, 'b': 0, 'c': 0}

### 3.3.4 setdefault method:

In [49]:
#usage of setdefault
d3 = {'a': 1, 'b': 2}
value = d3.setdefault('c', 3)  # 'c' is not in d3, so it will be added
print("Value set for 'c':", value)  # Output: 3
print("Dictionary after setdefault:", d3)

d3.setdefault('c', 3)

Value set for 'c': 3
Dictionary after setdefault: {'a': 1, 'b': 2, 'c': 3}

3

### 3.3.5 Retrieve Information

#### Retrieve particular value

In [15]:
family.get("Cat")

'Stevie'

#### Get key-value pairs

In [16]:
family.items()

dict_items([('Male', 'Darshan'), ('Female', 'Twisha'), ('Dog1', 'Orin'), ('Dog2', 'Orius'), ('Cat', 'Stevie')])

#### Get keys

In [17]:
family.keys()

dict_keys(['Male', 'Female', 'Dog1', 'Dog2', 'Cat'])

#### Get values

In [18]:
family.values()

dict_values(['Darshan', 'Twisha', 'Orin', 'Orius', 'Stevie'])

## 3.4 Itertaing through the Dictionaries
- Use for loop to iterate through keys, values, or both:

In [19]:
print("Family through Keys:")
for key in family:
    print(key, ":", family[key])

print("\nFamily through Values:")
for value in family.values():
    print(value)

print("\nFamily through items (Keys and Values):")
for k, v in family.items():
    print(f"{k} = {v}")

Family through Keys:
Male : Darshan
Female : Twisha
Dog1 : Orin
Dog2 : Orius
Cat : Stevie

Family through Values:
Darshan
Twisha
Orin
Orius
Stevie

Family through items (Keys and Values):
Male = Darshan
Female = Twisha
Dog1 = Orin
Dog2 = Orius
Cat = Stevie

## 3.5 Dictionary Operations

### 3.5.1 Check if a key exists

 Membership: `in` / `not in`

In [20]:
if "Dog1" in family:
    print("Dog1 is in the family dictionary")
else:
    print("Dog1 is not in the family dictionary")

Dog1 is in the family dictionary

### 3.5.2 Dictonary Length

In [21]:
print(len(family))  # Output: 5

5

### 3.5.3 Merging Dictionaries

In [22]:
d1 = {"a": 1, "b": 2}
d2 = {"b": 20, "c": 3}

Using `{**d1, **d2}` (creates a new dict)

In [23]:
d3 = {**d1, **d2}
print(d3)  # Output: {'a': 1, 'b': 20, 'c': 3}

{'a': 1, 'b': 20, 'c': 3}

Using `|` operator (Python 3.9+)

In [24]:
d3 = d1 | d2
print(d3)

{'a': 1, 'b': 20, 'c': 3}

### 3.5.4 Comparing Dictionaries

Check equality

In [25]:
d1 = {"a": 1, "b": 2}
d2 = {"b": 2, "a": 1}

print(d1 == d2)  # True (order doesnâ€™t matter)

True

Compare keys and values separately

In [26]:

print(d1.keys() == d2.keys())
print(d1.values() == d2.values())

True
False

## 3.5.5 Set Operations on Keys

* Find common keys
* Find differences

In [27]:
d1 = {"a": 1, "b": 2, "c": 3}
d2 = {"b": 2, "c": 30, "d": 4}

print(f"d1: {d1}, \nd2: {d2}")
# Common keys
print("Common keys:", d1.keys() & d2.keys())  # {'b', 'c'}

# Keys in d1 but not in d2
print("Keys in d1 but not in d2:",d1.keys() - d2.keys())  # {'a'}

# Key differences
print("Keys in d1 but not in d2:",d1.keys() ^ d2.keys())  # {'a', 'd'}

d1: {'a': 1, 'b': 2, 'c': 3},
d2: {'b': 2, 'c': 30, 'd': 4}
Common keys: {'b', 'c'}
Keys in d1 but not in d2: {'a'}
Keys in d1 but not in d2: {'a', 'd'}

## 3.6 Multidimensional Dictionary 

- When values of a dictionaries have another dictionary in it.
- Nested dictionary

```python
students = {
    101: {"name": "Twisha", "age": 20, "course": "CS"},
    102: {"name": "Darshan", "age": 21, "course": "DA"},
    103: {"name": "Shraddha", "age": 22, "course": "EC"}
}
```

In [28]:
students = {
    101: {"name": "Twisha", "age": 20, "course": "CS"},
    102: {"name": "Darshan", "age": 21, "course": "DA"},
    103: {"name": "Shraddha", "age": 22, "course": "EC"}
}

students

{101: {'name': 'Twisha', 'age': 20, 'course': 'CS'},
 102: {'name': 'Darshan', 'age': 21, 'course': 'DA'},
 103: {'name': 'Shraddha', 'age': 22, 'course': 'EC'}}

### 3.6.1 Accessing Nested Values

In [29]:
print(students[101]["name"])    
print(students[102]["course"])

Twisha
DA

### 3.6.2 Adding new record in a dictionary

In [30]:
students[104] = {'name': 'Steve', 'age': 2 , 'course': 'CAT'}
students

{101: {'name': 'Twisha', 'age': 20, 'course': 'CS'},
 102: {'name': 'Darshan', 'age': 21, 'course': 'DA'},
 103: {'name': 'Shraddha', 'age': 22, 'course': 'EC'},
 104: {'name': 'Steve', 'age': 2, 'course': 'CAT'}}

### 3.6.3 Updating Values

In [31]:
students[103]['age'] = 20
students

{101: {'name': 'Twisha', 'age': 20, 'course': 'CS'},
 102: {'name': 'Darshan', 'age': 21, 'course': 'DA'},
 103: {'name': 'Shraddha', 'age': 20, 'course': 'EC'},
 104: {'name': 'Steve', 'age': 2, 'course': 'CAT'}}

### 3.6.4 Deleting Elements

In [32]:
del students[104]
students

{101: {'name': 'Twisha', 'age': 20, 'course': 'CS'},
 102: {'name': 'Darshan', 'age': 21, 'course': 'DA'},
 103: {'name': 'Shraddha', 'age': 20, 'course': 'EC'}}

### 3.6.5 Iterating Through the Data

In [33]:
for student_id, info in students.items():
    print("ID:", student_id)
    for key, value in info.items():
        print(f"  {key} : {value}")

ID: 101
  name : Twisha
  age : 20
  course : CS
ID: 102
  name : Darshan
  age : 21
  course : DA
ID: 103
  name : Shraddha
  age : 20
  course : EC

In [34]:
print("+","-"*29, "+")
print("| Roll No.| Name \t|Course |")
print("+","-"*29, "+")
for i in students.keys():
    print(f"|{i}  \t  | {students[i]['name']} \t| {students[i]['course']} \t|")
print("+","-"*29, "+")

+ ----------------------------- +
| Roll No.| Name 	|Course |
+ ----------------------------- +
|101  	  | Twisha 	| CS 	|
|102  	  | Darshan 	| DA 	|
|103  	  | Shraddha 	| EC 	|
+ ----------------------------- +

## 3.7 Dictionary Comprehensions

Dictionary comprehensions allow for concise creation of dictionaries using a single line of code.

```python
{key_expr: value_expr for item in iterable if condition}
```

In [35]:
squares = {x: x**2 for x in range(1,6)}
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### 3.7.1 Conditional Comprehensions

In [36]:
even_cubes = {x: x**3 for x in range(1, 11) if x % 2 == 0}
even_cubes

{2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}

### 3.7.2 Nested Comprehensions

In [37]:
# Nested dictionary comprehension
nested_dict = {x: {y: x * y for y in range(1, 4)} for x in range(1, 4)}
nested_dict

{1: {1: 1, 2: 2, 3: 3}, 2: {1: 2, 2: 4, 3: 6}, 3: {1: 3, 2: 6, 3: 9}}

In [38]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
final_dct = {(i, j): matrix[i][j] for i in range(3) for j in range(3)}
print(final_dct)

{(0, 0): 1, (0, 1): 2, (0, 2): 3, (1, 0): 4, (1, 1): 5, (1, 2): 6, (2, 0): 7, (2, 1): 8, (2, 2): 9}

### 3.7.3 Special Keys with Strings

Can create keys dynamically by including expressions or strings in the key.

In [39]:
dct = {'num_' + str(i): i for i in range(1, 11)}
print(dct)

{'num_1': 1, 'num_2': 2, 'num_3': 3, 'num_4': 4, 'num_5': 5, 'num_6': 6, 'num_7': 7, 'num_8': 8, 'num_9': 9, 'num_10': 10}

### 3.7.4 Shortlisting Based on Values
Can also filter dictionary items based on their values using dictionary comprehension.

In [40]:
#select only those key-value pairs where the value is divisible by 3.
dct = {'num_' + str(i): i for i in range(1, 11)}
dct = {k: v for k, v in dct.items() if v % 3 == 0}
print(dct)

{'num_3': 3, 'num_6': 6, 'num_9': 9}

# 3.8 Typecasting to and from Dictionaries
- Converting other data types to dictionaries and vice versa.
- **From List of Tuples**: `dict([('a', 1), ('b', 2)])` creates a dictionary from a list of key-value tuples.
- **From List of Lists**: `dict([['a', 1], ['b', 2]])` creates a dictionary from a list of lists.
- **From JSON**: `json.loads(json_string)` converts a JSON string to a dictionary.
- **To JSON**: `json.dumps(dict_name)` converts a dictionary to a JSON string.
- **From String**: `dict(zip(keys, values))` creates a dictionary from two lists (keys and values).
- **To String**: `str(dict_name)` converts a dictionary to a string representation.
- **From Set**: `dict.fromkeys(set, value)` creates a dictionary with keys from a set and a default value.
- **To Set**: `set(dict_name.keys())` creates a set from the keys of a dictionary.

### 3.7.1 From List

In [41]:
lst = ['Apple', 'Banana', 'Grapes']
dct = {item: len(item) for item in lst}
print(lst)
print(dct)

['Apple', 'Banana', 'Grapes']
{'Apple': 5, 'Banana': 6, 'Grapes': 6}

In [42]:
dct = {len(item): item for item in lst}
print(dct)

{5: 'Apple', 6: 'Grapes'}

In [43]:
# converting lists into a dictionary
# take two separate lists with elements
countries = ["USA", "India", "Germany", "France"]
cities = ['Washington', 'New Delhi', 'Berlin', 'Paris']
# make a dictionary
z = zip(countries, cities)
d = dict(z)
# display key - value pairs from dictionary d
print('{:15s} -- {:15s}'.format('COUNTRY', 'CAPITAL'))
for k in d:
 print('{:15s} -- {:15s}'.format(k, d[k]))

COUNTRY         -- CAPITAL
USA             -- Washington
India           -- New Delhi
Germany         -- Berlin
France          -- Paris

### 3.7.2 From list of Tuples

In [44]:
# Using dict() with a list of tuples

d = dict([('a', 1), ('b', 2), ('c', 3)])
print("Dictionary from list of tuples:", d)

Dictionary from list of tuples: {'a': 1, 'b': 2, 'c': 3}

In [45]:
# Merging dictionaries using zip
d1 = {'a': 1, 'b': 2}
d2 = {'b': 20, 'c': 3}
d_merged = dict(zip(d1.keys(), d1.values()))  # Start with d1
for key, value in d2.items():
    d_merged[key] = value  # Add or update keys from d2
print("Merged dictionary:", d_merged)

Merged dictionary: {'a': 1, 'b': 20, 'c': 3}

### 3.7.3 From Strings

In [46]:
# converting a string into a dictionary
# take a string
string = "Bologna=23,Siraf=20,Miera=19,Caine=22"
# brake the string at ',' and then at '='
# store the pieces into a list lst
lst=[]
for x in string.split(','):
    y= x.split('=')
    lst.append(y)
# convert the list into dictionary 'd'
# but this 'd' will have both name and age as strings
d = dict(lst)
# create a new dictionary 'd1' with name as string
# and age as integer
d1={}
for k, v in d.items():
    d1[k] = int(v)
# display the final dictionary
print(d1)

{'Bologna': 23, 'Siraf': 20, 'Miera': 19, 'Caine': 22}

### 3.7.4 From Dictionary to Other Data Types

In [47]:
# typecasting from dictionary 
# to a list of tuples
d = {'a': 1, 'b': 2, 'c': 3}
lst_of_tuples = list(d.items())
print("List of tuples from dictionary:", lst_of_tuples)

# typecasting from dictionary
# to a list of keys
lst_of_keys = list(d.keys())
print("List of keys from dictionary:", lst_of_keys)

# typecasting from dictionary
# to a list of values
lst_of_values = list(d.values())
print("List of values from dictionary:", lst_of_values)

# typecasting from dictionary to a set
set_of_keys = set(d.keys())
print("Set of keys from dictionary:", set_of_keys)

# typecasting from dictionary to a set of tuples
set_of_tuples = set(d.items())
print("Set of tuples from dictionary:", set_of_tuples)

# typecasting from dictionary to a set of values
set_of_values = set(d.values())
print("Set of values from dictionary:", set_of_values)


# typecasting from dictionary to a string
str_from_dict = str(d)
print("String from dictionary:", str_from_dict)

List of tuples from dictionary: [('a', 1), ('b', 2), ('c', 3)]
List of keys from dictionary: ['a', 'b', 'c']
List of values from dictionary: [1, 2, 3]
Set of keys from dictionary: {'c', 'b', 'a'}
Set of tuples from dictionary: {('c', 3), ('a', 1), ('b', 2)}
Set of values from dictionary: {1, 2, 3}
String from dictionary: {'a': 1, 'b': 2, 'c': 3}

## 3.8 Ordered Dictionaries
- Python 3.7+ maintains insertion order by default.
- For explicit order preservation, use `collections.OrderedDict`.
- `OrderedDict` allows for maintaining the order of keys as they were added, even in older Python versions.
```python
from collections import OrderedDict
ordered_dict = OrderedDict()
```

In [48]:
# create an ordered dictionary
from collections import OrderedDict
d = OrderedDict() # d is ordered dictionary
d[10] = 'A'
d[11] = 'B'
d[12] = 'C'
d[13] = 'D'
# display the ordered dictionary
for i, j in d.items():
    print(i, j)

10 A
11 B
12 C
13 D