# 4.0 GSW Tuple

A **tuple** is an **ordered**, **immutable**, and **indexable** collection in Python.  
It is similar to a list, but **cannot be changed after creation**, making it ideal for fixed data.

## Tuple Properties

- Ordered → Elements have a defined position.
- Immutable → You cannot modify or delete elements.
- Allow Duplicates → Tuples can contain repeated values.
- Indexable → You can access elements by index.

##  Creating Tuples

In [1]:
t1 = (1, 2, 3)
t2 = ("apple", "banana", "cherry")
t3 = tuple([4, 5, 6])  # Using the constructor

single = ("only",)     # Comma required for single-element tuples!

print(t1, t2, t3, single, sep="\n")

(1, 2, 3)
('apple', 'banana', 'cherry')
(4, 5, 6)
('only',)

## Accesing elements

Tuple elements can be accessed using both positive and negative indices.  
Negative indexing starts from the end of the tuple.

In [ ]:
tpl = (1, 2, 3, 4, 5)
print(tpl[0])
print(tpl[-1])

1
5

##  Iterating Over a Tuple
Tuples can be looped over using `for` loops.

In [3]:
for i in tpl:
    print(i)

1
2
3
4
5

##  Unpacking Tuple

In [6]:

a,b,c = (1 , 2, 3)
print(a)
print(b)
print(c)

1
2
3

## Join tuples

In [7]:

t4 = t1 + t2
print(t1)
print(t2)
print(t4)

(1, 2, 3)
('apple', 'banana', 'cherry')
(1, 2, 3, 'apple', 'banana', 'cherry')

## Repetition in tuple

In [8]:
t5 = (t1)*3
print(t5)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## Functions to Process Tuples






| Function      | Example                | Description                                                                 |
|---------------|------------------------|-----------------------------------------------------------------------------|
| len()       | len(tpl)             | Returns the number of elements in the tuple.                               |
| min()       | min(tpl)             | Returns the smallest element in the tuple.                                 |
| max()       | max(tpl)             | Returns the largest element in the tuple.                                  |
| count()     | tpl.count(x)         | Returns the number of times x appears in the tuple.                      |
| index()     | tpl.index(x)         | Returns the index of the first occurrence of x. Raises ValueError if not found. |
| sorted()    | sorted(tpl)          | Returns a *new list* with tuple elements sorted in ascending order.      |
|               | sorted(tpl, reverse=True) | Sorts the tuple elements in descending order.                        |

In [9]:
tpl = (4, 2, 7, 2, 9, 1)

print(len(tpl))           # 6
print(min(tpl))           # 1
print(max(tpl))           # 9
print(tpl.count(2))       # 2
print(tpl.index(7))       # 2
print(sorted(tpl))        # [1, 2, 2, 4, 7, 9]
print(sorted(tpl, reverse=True))  # [9, 7, 4, 2, 2, 1]

6
1
9
2
2
[1, 2, 2, 4, 7, 9]
[9, 7, 4, 2, 2, 1]

## Slicing


Tuple slicing is used to extract a **subset** of elements from a tuple.  
The syntax is the same as list slicing: `tuple[start:stop:step]`

- `start`: The index to begin the slice (inclusive)
- `stop`: The index to end the slice (exclusive)
- `step`: The stride or interval between elements (optional)

If omitted:
- `start` defaults to `0`
- `stop` defaults to the length of the tuple
- `step` defaults to `1`

In [12]:
darshan = (45, 85, 98, 89, 58, 23, 11)
print(darshan[0:6])
print(darshan[1:5])  # Slicing from index 1 to 4
print(darshan[2:])   # Slicing from index 2 to the end
print(darshan[:4])   # Slicing from the start to index 3
print(darshan[-3:])  # Last three elements
print(darshan[::-1])  # Reversing the tuple
print(darshan[::2])  # Every second element
print(darshan[1:5:2])  # Slicing with step, from index 1 to 4, every second element

(45, 85, 98, 89, 58, 23)
(85, 98, 89, 58)
(98, 89, 58, 23, 11)
(45, 85, 98, 89)
(58, 23, 11)
(11, 23, 58, 89, 98, 85, 45)
(45, 98, 58, 11)
(85, 89)

- Slicing *does not modify* the original tuple.
- Negative indices can be used to slice from the end.
- You can use slicing to *reverse a tuple*, skip elements, or extract sub-tuples.

Tuple slicing is a safe way to work with portions of data — perfect for immutable collections.

## Nested Tuple

A tuple inserted inside another tuple is called nested tuple.

In [14]:
tpl = (50,60,70,80,90, (200, 201))
print(tpl)

(50, 60, 70, 80, 90, (200, 201))

## Nesting of tuples

In [13]:
tuple1 = (20, 45, 89, 56, 75)
tuple2 = (78, 63, 23, 52, 44)
tuple3 = (tuple1, tuple2)
print(tuple1)
print(tuple2)
print(tuple3)

(20, 45, 89, 56, 75)
(78, 63, 23, 52, 44)
((20, 45, 89, 56, 75), (78, 63, 23, 52, 44))

## inserting a new element into a tuple

In [15]:
tuple1 = (20, 45, 89, 56, 75)
l1 = list(tuple1)  # Convert tuple to list
l1.append(100)  # Append an element
tuple1 = tuple(l1)  # Convert back to tuple
print(tuple1)  # (20, 45, 89, 56, 75, 100)

(20, 45, 89, 56, 75, 100)

In [17]:

names = ('Visnu', 'Anupama', 'Lakshmi', 'Bheeshma')
print(names)
# accept new name and position number
lst= [input('Enter a new name: ')]
new = tuple(lst)
pos = int(input('Enter position no: '))
# copy from 0th to pos-2 into another tuple names1
names1 = names[0:pos-1]
# concatenate new element at pos-1
names1 = names1+new
# concatenate the remaining elements of names from pos-1 till end
names = names1+names[pos-1:]
print(names)

('Visnu', 'Anupama', 'Lakshmi', 'Bheeshma')
('Visnu', 'darshan', 'Anupama', 'Lakshmi', 'Bheeshma')

## modifying an existing element of a tuple

In [18]:

num = (10, 20, 30, 40, 50)
print(num)
# accept new element and position number
lst= [int(input('Enter a new element: '))]
new = tuple(lst)
pos = int(input('Enter position no: '))
# copy from 0th to pos-2 into another tuple num1
num1 = num[0:pos-1] 
# concatenate new element at pos-1
num1 = num1+new
# concatenate the remaining elements of num from pos till end
num = num1+num[pos:]
print(num)

(10, 20, 30, 40, 50)
(10, 20, 30, 40, 99)

## deleting an element of a tuple

In [19]:
num = (10, 20, 30, 40, 50)
print(num)
# accept position number of the element to delete
pos = int(input('Enter position no: '))
# copy from 0th to pos-2 into another tuple num1
num1 = num[0:pos-1]
# concatenate the remaining elements of num from pos till end
num = num1+num[pos:]
print(num)

(10, 20, 30, 40, 50)
(10, 20, 40, 50)