# variables

In [3]:
x = 6 
print(x)
print(type(x))

6
<class 'int'>

In [4]:
y = 5.679
print(y)
print(type(y))

5.679
<class 'float'>

In [5]:
z = 12 + 3j 
print(z)
print(type(z))

(12+3j)
<class 'complex'>

In [6]:
t = "I am learning Python"
print(t)
print(type(t))

I am learning Python
<class 'str'>

In [7]:
o = "Hello students, 23 students are present in the class"
print(o)
type(o)

Hello students, 23 students are present in the class

str

## How many variables are there in the notebook ?

In [8]:
%whos

Variable   Type       Data/Info
-------------------------------
o          str        Hello students, 23 studen<...> are present in the class
t          str        I am learning Python
x          int        6
y          float      5.679
z          complex    (12+3j)

In [9]:
del z

In [10]:
%whos

Variable   Type     Data/Info
-----------------------------
o          str      Hello students, 23 studen<...> are present in the class
t          str      I am learning Python
x          int      6
y          float    5.679

In [11]:
a = 12
b = 13 
c = 14 
print(a)
print(b)
print(c)

12
13
14

## multiple assignments in the variable

In [12]:
a,b,c = 3 , 4.5 , "hello bhai"
print(a,b,c)
print(type(a), type(b), type(c))

3 4.5 hello bhai
<class 'int'> <class 'float'> <class 'str'>

In [13]:
x = 60 
X = 6 
print(x)
print(X)

60
6

## Python Arithmetic Operator

In [14]:
a = 2
b = 2
c = 3.5
d = "Hello student"
e = 5 + 3j 
f = "This is Darshan Parmar"

### Add operator

In [15]:
print(a + b)

4

In [16]:
print(d +" "+ f)

Hello student This is Darshan Parmar

In [17]:
print(c + e)

(8.5+3j)

In [18]:
print (c + b)

5.5

### Subtract

In [19]:
%whos

Variable   Type       Data/Info
-------------------------------
X          int        6
a          int        2
b          int        2
c          float      3.5
d          str        Hello student
e          complex    (5+3j)
f          str        This is Darshan Parmar
o          str        Hello students, 23 studen<...> are present in the class
t          str        I am learning Python
x          int        60
y          float      5.679

In [20]:
print(a - b)

0

In [21]:
print(c - b)

1.5

In [22]:
print(e - a)

(3+3j)

In [23]:
print (a - e)

(-3-3j)

In [24]:
print (c - e)

(-1.5-3j)

### Multiplication

In [25]:
%whos

Variable   Type       Data/Info
-------------------------------
X          int        6
a          int        2
b          int        2
c          float      3.5
d          str        Hello student
e          complex    (5+3j)
f          str        This is Darshan Parmar
o          str        Hello students, 23 studen<...> are present in the class
t          str        I am learning Python
x          int        60
y          float      5.679

In [26]:
print(a * b)

4

In [27]:
print (b * c)

7.0

In [28]:
print(a * e)

(10+6j)

In [29]:
print ( c * e)

(17.5+10.5j)

In [30]:
print ( f * 3)

This is Darshan ParmarThis is Darshan ParmarThis is Darshan Parmar

### Division Operator

In [31]:
%whos

Variable   Type       Data/Info
-------------------------------
X          int        6
a          int        2
b          int        2
c          float      3.5
d          str        Hello student
e          complex    (5+3j)
f          str        This is Darshan Parmar
o          str        Hello students, 23 studen<...> are present in the class
t          str        I am learning Python
x          int        60
y          float      5.679

In [32]:
print ( a / b)

1.0

In [33]:
print ( c / b)

1.75

In [34]:
print ( a / e)

(0.29411764705882354-0.17647058823529413j)

In [35]:
print ( c / e)

(0.5147058823529412-0.3088235294117647j)

### Modulus

In [36]:
%whos

Variable   Type       Data/Info
-------------------------------
X          int        6
a          int        2
b          int        2
c          float      3.5
d          str        Hello student
e          complex    (5+3j)
f          str        This is Darshan Parmar
o          str        Hello students, 23 studen<...> are present in the class
t          str        I am learning Python
x          int        60
y          float      5.679

In [37]:
print(a % b)

0

In [38]:
print(b % 3)

2

In [39]:
print ( c % 4)

3.5

### Exponent Operator

In [40]:
print ( a ** 3)

8

In [41]:
print ( a ** c)

11.313708498984761

In [42]:
print ( e ** 4)

(-644+960j)

### Floor Divion

In [43]:
print ( a // b)

1

In [44]:
print (c // a )

1.0

In [45]:
a = 10
b = 5
c = a // b 
print(c)

2

### Logical and Boolean Operators

In [46]:
a = True 
b = True 
c = False 
d = False

In [47]:
print("Variable a type ", type(a))
print("Variable c type ", type(c))

Variable a type  <class 'bool'>
Variable c type  <class 'bool'>

In [48]:
print(a and b) # True and True
print(a and c) # True and False
print(d and b) # False and True 
print( c and d) # False and False

True
False
False
False

In [49]:
print(a or b) # True or True
print(a or c) # True or False
print(d or b) # False or True 
print( c or d) # False or False

True
True
True
False

In [50]:
print(not a) 
print(not (c))

False
True

In [51]:
print((a and b) and (c and d))

False

In [52]:
print((a or b) or (c or d) or (d or a))

True

### Comparison Operators

In [53]:
c = 2 < 3
print(c)

True

In [54]:
type(c)

bool

In [55]:
d = 2==3 
print(d)

False

In [56]:
3 == 3.0

True

In [57]:
p =12
q = 8 
r = -3
s = 5.56

In [58]:
print((q<p) and (r>s))

False

In [59]:
print(not(p==q) or (r==s))

True

In [60]:
True or False and True

True

In [61]:
True and False or True

True

In [62]:
print((not(2!=3)and True)or(False and True))

False


### Bitwise Operators

In [63]:
a = 5 
b = 4

In [64]:
print(a|b)

5

In [65]:
print(a & b)

4

In [66]:
print(type(a & b))

<class 'int'>

In [67]:
a = 5648484541
b = 5484415

a & b

67645

In [68]:
a ^ b

5653833666

In [69]:
c = 5
print(~c)

-6

In [71]:
a = 5 
print(a << 2)
print(a >> 2)

20
1